.CoinContainer button {
  font-size: 1.1em;
  align-self: center;
  width: 7em;
  padding: 0.3em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 0.5em;
}

.CoinContainer button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}

.Coin img {
  width: 200px;
  height: 200px;
}

.Coin-spinning img {
  width: 200px;
  height: 200px;
  animation-name: spin;
  animation-duration: 1s;
  ;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(1000deg);
  }

  100% {
    transform: rotateY(10deg);
  }
}